<div class="container-fluid">
  <div class="row g-3">
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-header bg-primary text-dark">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Open Patient</h5>
            <button class="btn btn-dark btn-sm">Back</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row g-3 align-items-center">
            <div class="col-md-3">
              <label class="form-label text-muted mb-1">Patient Name</label>
              <h5 class="mb-0">{{patientData().fullName}}</h5>
            </div>
            <div class="col-md-2">
              <label class="form-label text-muted mb-1">Gender</label>
              <p class="mb-0">{{patientData().gender}}</p>
            </div>
            <div class="col-md-2">
              <label class="form-label text-muted mb-1">Phone</label>
              <p class="mb-0">{{patientData().phone}}</p>
            </div>
            <div class="col-md-3">
              <label class="form-label text-muted mb-1">Address</label>
              <p class="mb-0">{{patientData().address}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-primary h-100">
        <div class="card-header bg-primary text-dark">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Visit History</h5>
            <span class="badge bg-dark">{{visitList().length}} Visits</span>
          </div>
        </div>
        <div class="card-body">

          <div class="list-group">
            @for (item of visitList(); track $index) {
            <button type="button" (click)="onSelectVisit(item)"
              [ngClass]="selectedVisit?.visitId === item.visitId ? 'active':''"
              class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">14 Jul 2026</h6>
                <small>{{item.visitStatus}}</small>
              </div>
              <p class="mb-1">{{item.symptoms}}</p>
              <small>Diagnosis: {{item.diagnosis}}</small>
            </button>
            }


          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="row g-3">
        <div class="col-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-dark">
              <div class="row">
                <div class="col-6">
                      <h5 class="mb-0">Selected Visit Details</h5>
                </div>
                <div class="col-6 text-end">
                  <select [value]="selectedVisit?.visitStatus" (change)="onStatusChange($event)" >
                    <option value="Current">Current</option>
                     <option value="FollowUp">FollowUp</option>
                      <option value="Closed">Closed</option>
                  </select>
                </div>
              </div>
          
            </div>
            <div class="card-body">
              <div class="row g-3">
                <div class="col-md-3">
                  <label class="form-label text-muted mb-1">Visit Date</label>
                  <p class="mb-0 fw-semibold">{{selectedVisit?.visitDate |date:'dd-MMM-yy'}} {{selectedVisit?.visitDate|
                    date:'HH:MM:SS'}}</p>
                </div>
                <div class="col-md-3">
                  <label class="form-label text-muted mb-1">Doctor</label>
                  <p class="mb-0">{{selectedVisit?.doctorName}}</p>
                </div>
                <div class="col-md-3">
                  <label class="form-label text-muted mb-1">Symptoms</label>
                  <p class="mb-0">{{selectedVisit?.symptoms}}</p>
                </div>
                <div class="col-md-3">
                  <label class="form-label text-muted mb-1">Diagnosis</label>
                  <p class="mb-0">{{selectedVisit?.diagnosis}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-dark">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Prescriptions For This Visit</h5>
                <span class="badge bg-dark"> {{selectedVisit?.prescriptionItems.length}} Medicines</span>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle mb-0">
                  <thead class="table-light">
                    <tr>
                      <th>Sr No</th>
                      <th>Medicine</th>
                      <th>Dosage</th>
                      <th>Frequency</th>
                      <th>Duration</th>
                      <th>Instruction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="selectedVisit?.prescriptionItems.length ==0">
                      <tr>
                        <td colspan="6" class="text-center"> No Prescription Found</td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="selectedVisit?.prescriptionItems.length !==0">
                      <tr *ngFor="let item of selectedVisit?.prescriptionItems; let srNo= index">
                        <td>{{srNo}}</td>
                        <td>{{item.medicineName}}</td>
                        <td>{{item.dosage}}</td>
                        <td>{{item.frequency}}</td>
                        <td>{{item.durationDays}}</td>
                        <td>{{item.instructions}}</td>
                      </tr>
                    </ng-container>


                    <!-- @for (item of selectedVisit?.prescriptionItems; track $index) {
                       <tr>
                      <td>{{$index}}</td>
                      <td>{{item.medicineName}}</td>
                      <td>{{item.dosage}}</td>
                      <td>{{item.frequency}}</td>
                      <td>{{item.durationDays}}</td>
                      <td>{{item.instructions}}</td>
                    </tr>
                    } @empty {
                      <tr>
                        <td colspan="6" class="text-center"> No Prescription Found</td>
                      </tr>
                    } -->


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        @if (selectedVisit?.visitStatus !== "Closed") {
           <div class="col-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-dark">
              <h5 class="mb-0">Add Prescription For Current Visit</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="newPrescriptionForm">
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="form-label">Medicine Name</label>
                    <select class="form-select" formControlName="medicineId">
                      <option selected>Select Frequency</option>
                      @for (item of medicineList(); track $index) {
                         <option [value]="item.medicineId">{{item.name}} {{item.strength}}</option> 
                      } 
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Dosage</label>
                    <input type="text" class="form-control" formControlName="dosage" placeholder="Example: 1 Tablet">
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Frequency</label>
                    <select class="form-select" formControlName="frequency">
                      <option selected>Select Frequency</option>
                      <option>Once a day</option>
                      <option>Twice a day</option>
                      <option>Three times a day</option>
                      <option>As needed</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Duration</label>
                    <input type="text" class="form-control" formControlName="durationDays" placeholder="Example: 5 Days">
                  </div>
                  <div class="col-md-8">
                    <label class="form-label">Instruction</label>
                    <input type="text" class="form-control" formControlName="instructions" placeholder="Example: Take after food">
                  </div> 
                </div>

                <hr>

                <div class="d-flex justify-content-end gap-2">
                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <button type="button" class="btn btn-warning" (click)="onSave()">Add Prescription</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        }
       
      </div>
    </div>
  </div>
</div>